/*wpm styling*/
.blue-color {
  color: #82b1bd;
}
/* header */
header {
  background-color: #fff;
}

header img {
  width: 450px;
  margin: auto;
  display: flex;
  align-self: center;
  justify-content: center;
}

.myStyle {
  background-color: black;
}
hr {
  border: 2px solid #82b1bd;
  margin-top: -30px;
}
body {
  margin: auto;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  text-align: center;
}

.main-container {
  width: 1000px;
  margin: auto;
  background-color: #fff;
  height: 500px;
}

/* timer */
#timer {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
}
#optimism {
  display: none;
}

/* random words */
.words {
  width: 500px;
  background-color: #82b1bd;
  height: 40px;
  margin: auto;
}

#r-words {
  line-height: 40px;
  color: #fff;
  text-align: center;
  margin: auto;
  font-size: 24px;
}

/* input */
input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #82b1bd;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
}

input:focus {
  outline: 0;
}
